*{
		Padding: 0;
		margin: 0;
		text-decoration: none;
		list-style: none;
		box-sizing: border-box;
}
body{
		font-family: montserrat;
}
nav{
		background: purple;
		height: 90px;
		width: 100%;
}
label.logo{
		color: whitesmoke;
		font-size: 35px;
		line-height: 80px;
		padding: 20px;
		font-weight: bold;
}
nav ul{
		float: right;
		margin-right: 20px;
}
nav ul li a{
			color: white;
			font-size: 17px;
			padding: 15px;
			border-radius: 3px;
			margin: 5px;
			text-transform: uppercase;
}
nav ul li{
		display: inline-block;
		line-height: 80px;
		margin: 5px;
}
a.active,a:hover{
		background: orangered;
		transition: .5s;
}
.img{
		height: 903px;
		width: 1855px;
}